<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>新增会员 - 天龙健康会员操作平台</title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/css/font-awesome.css" />

    <!-- page specific plugin styles -->
    <!-- text fonts -->
    <link rel="stylesheet" href="/assets/css/ace-fonts.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="../assets/css/ace-part2.css" class="ace-main-stylesheet" />
    <![endif]-->
    <!--[if lte IE 9]>
      <link rel="stylesheet" href="../assets/css/ace-ie.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="/assets/js/ace-extra.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="../assets/js/html5shiv.js"></script>
    <script src="../assets/js/respond.js"></script>
    <![endif]-->
    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='/assets/js/jquery.js'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='../assets/js/jquery1x.js'>"+"<"+"/script>");
    </script>
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='/assets/js/jquery.mobile.custom.js'>" + "<" + "/script>");
    </script>
    <script src="/assets/js/bootstrap.js"></script>
    <script src="/assets/js/Common.js"></script>

</head>

<body class="no-skin">
    <!-- #section:basics/navbar.layout -->
   

    <!-- /section:basics/navbar.layout -->
    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try { ace.settings.check('main-container', 'fixed') } catch (e) { }
        </script>



        <!-- /section:basics/sidebar -->
        <div class="main-content">
            <div class="main-content-inner">
                <!-- #section:basics/content.breadcrumbs -->
                <div class="page-content">

                    <!-- #section:settings.box -->
<div class="ace-settings-container" id="ace-settings-container">
 
 
</div>
<!-- /.ace-settings-container -->
<!-- /section:settings.box -->

                    <div class="row noMarginLR">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->

<!-- /section:settings.box -->
<div class="page-header">
    <h1>
        会员中心
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            会员注册
        </small>
    </h1>
        <div class="alert alert-info">
            网上新加单会员咨询和会员服务咨询电话：0575-87755511，手机和微信号：18006800511。
        </div>
</div><!-- /.page-header -->


<div class="row noMarginLR iUcAddNewMember">
    <div class="col-xs-12">
        <form class="form-horizontal" role="form">
            <input id="UserId" name="UserId" type="hidden" value="0" />
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 用户名 </label>

                <div class="col-sm-9 parentCls">
                    <input type="text" id="UserName" name="UserName" placeholder="用户名就是登录名" class="col-xs-10 col-sm-5" maxlength="12" value=""/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 昵称或姓名 </label>

                <div class="col-sm-9 parentCls">
                    <input type="text" id="NickName" name="NickName" placeholder="必须填写，以便系统识别" class="col-xs-10 col-sm-5" maxlength="20" value=""/>
                </div>
            </div>

            
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 委托汇款人手机号 </label>

                <div class="col-sm-9 parentCls">
                    <input type="text" id="DepositMobile" name="DepositMobile" placeholder="" class="col-xs-10 col-sm-5" value=""/>
                    <p style="clear:both">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle" style="color:red">当汇款人非本人时请填写</span>
                        </span>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 委托汇款信息 </label>

                <div class="col-sm-9">
                    <input type="text" id="Alipay" name="Alipay" placeholder="" class="col-xs-10 col-sm-5" value="" />
                    <p style="clear:both">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle" style="color:red">汇款人非本人时请填写</span>
                        </span>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 绑定手机号码 </label>

                <div class="col-sm-9 parentCls">
                    <input type="text" id="BindMob" name="BindMob" placeholder="必须填写作为打款的联系号码" class="col-xs-10 col-sm-5" value="" maxlength="11" />
                    <p style="clear:both">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle" style="color:red">系统奖金短信提醒将发送到您绑定的手机号码</span>
                        </span>
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 登陆密码 </label>

                <div class="col-sm-9">
                    <!-- #section:elements.form.input-icon -->
                    <span class="blockinMobile">
                        <input type="password" id="UserPwd" value="" />
                    </span>

                    <span class="blockinMobile">
                        <input type="password" id="UserRePwd" placeholder="重复登陆密码" value="" />
                    </span>

                    <!-- /section:elements.form.input-icon -->
                </div>
            </div>

            

            <div class="space-4"></div>


            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 微信号 </label>

                <div class="col-sm-9">
                    <input type="text" id="WeChat" name="WeChat" placeholder="不填留空" class="col-xs-10 col-sm-5" value="" />
                    <p style="clear:both">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle" style="color:red">微信接受奖金和汇款的会员，必须填写</span>
                        </span>
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 开户银行 </label>

                <div class="col-sm-9">
                    <input type="text" id="BankName" name="BankName" placeholder="" class="col-xs-10 col-sm-5" value="" />
                    <p style="clear:both">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle" style="color:red">微信不填时您必须填完整开户行，如：农业银行浙江分行杭州西湖支行</span>
                        </span>
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 银行账号 </label>

                <div class="col-sm-9 parentCls">
                    <input type="text" id="BankAccount" name="BankAccount" placeholder="" class="col-xs-10 col-sm-5" value="" />
                    <p style="clear:both">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle" style="color:red">银行卡接收奖金和汇款的会员，微信不填时必须填写</span>
                        </span>
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 银行卡持卡人 </label>

                <div class="col-sm-9">
                    <input type="text" id="TrueName" name="TrueName" placeholder="" class="col-xs-10 col-sm-5" value="" />
                    <p style="clear:both">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle" style="color:red">绑定银行卡姓名</span>
                        </span>
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 收货人 </label>

                <div class="col-sm-9">
                    <input type="text" id="RecName" name="RecName" placeholder="" class="col-xs-10 col-sm-5" value="" />

                    <p style="clear:both">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle" style="color:red">外地需邮寄会员必填</span>
                        </span>
                    </p>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 收货人电话 </label>

                <div class="col-sm-9 parentCls">
                    <input type="text" id="RecMob" name="RecMob" placeholder="" class="col-xs-10 col-sm-5" value="" />

                    <p style="clear:both">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle" style="color:red">外地需邮寄会员必填</span>
                        </span>
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 收货地址 </label>

                <div class="col-sm-9">
                    <input type="text" id="RecAdd" name="RecAdd" placeholder="" class="col-xs-10 col-sm-5" value="" />

                    <p style="clear:both">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle" style="color:red">外地需邮寄会员必填</span>
                        </span>
                    </p>
                </div>
            </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"> 选择产品 </label>

                    <div class="col-sm-9">
                        <p class="haveChosen">以下产品选满1000元</p>
                        <div class="emBox">
                        <label><input id="A1" name="product" type="checkbox" data-val="500" data-name="亚麻籽益生菌水溶粉500元/提" />亚麻籽益生菌水溶粉500元/提</label> <br />
                        <label><input id="A4" name="product" type="checkbox" data-val="500" data-name="亚麻全营养代餐棒500元/套" />亚麻全营养代餐棒500元/套</label> <br />
                        <label><input id="A5" name="product" type="checkbox" data-val="500" data-name="亚麻营养膳食粉500元/套" />亚麻营养膳食粉500元/套</label> <br />
                        <label><input id="A2" name="product" type="checkbox" data-val="500" data-name="亚麻籽有机冷榨油大礼盒500元/提" />亚麻籽有机冷榨油大礼盒500元/提</label> 
                        </div>

                        <p class="haveChosen">您选择的是：</p>
                            <label id="info"></label>
                        <input id="Mark" type="hidden" />
                    </div>
                </div>

            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="button" id="Save">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        注册
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>
<style>
    .js-max-input {
        border: solid 1px #ffd2b2;
        background: #fffae5;
        padding: 0 10px 0 10px;
        font-size: 20px;
        color: #ff4400;
    }
</style>
<script>
    $(document).ready(function () {

        new TextMagnifier({
            inputElem: '#UserName',
            //parentCls: 'col-sm-9',
            align: 'top',
            splitType: [3, 4, 4,1],

        });
        new TextMagnifier({
            inputElem: '#DepositMobile',
            //parentCls: 'col-sm-9',
            align: 'top',
            splitType: [3, 4, 4],

        });
        new TextMagnifier({
            inputElem: '#FromMobile',
            //parentCls: 'col-sm-9',
            align: 'top',
            splitType: [3, 4, 4],

        });
        new TextMagnifier({
            inputElem: '#RecMob',
            //parentCls: 'col-sm-9',
            align: 'top',
            splitType: [3, 4, 4],

        });
        new TextMagnifier({
            inputElem: '#BankAccount',
            //parentCls: 'col-sm-9',
            align: 'top',
            splitType: [4, 4, 4, 4, 3],

        });
        new TextMagnifier({
            inputElem: '#IDCard',
            //parentCls: 'col-sm-9',
            align: 'top',
            splitType: [3, 3, 4, 4, 4],

        });

        $('input[type="checkbox"][name="product"]').change(function () {
            //alert('ss');
            var total = 1000;
            var select = $('input[type="checkbox"][name="product"]:checked');
            var selectProduct = '';
            if (select.length > 2) { $(this).prop('checked', false); return; }
            $(select).each(function (x, y) {
                if ($(y).attr('data-val') == 500) {
                    if (select.length == 1) { selectProduct = selectProduct + $(y).attr('data-name') + 'x 2  +'; }
                    else if (select.length == 2) { selectProduct = selectProduct + $(y).attr('data-name') + '  +'; }
                }
                /*if ($(y).attr('data-val') == 200) {
                    if (select.length == 1) {
                        selectProduct = selectProduct + $(y).attr('data-name') + ' x5';
                    }
                    else {
                        selectProduct = selectProduct + $(y).attr('data-name');
                    }
                }*/
            })
            selectProduct = selectProduct.substring(0, selectProduct.length - 1);
            $('#info').text(selectProduct);
            $('#Mark').val(selectProduct);
        });

        //$('#A3').trigger('change');

        $('#Save').click(function () {
            var UserId = $('#UserId').val();
            var UserName = $('#UserName').val();
            var NickName = $('#NickName').val();
            var IDCard = '';//$('#IDCard').val();
            var DepositMobile = $('#DepositMobile').val();
            var UserPwd = $('#UserPwd').val();
            var UserRePwd = $('#UserRePwd').val();
            var UserPayPwd = '1';//$('#UserPayPwd').val();
            var UserRePayPwd = '1'; //$('#UserRePayPwd').val();
            var WeChat = $('#WeChat').val();
            var Alipay = $('#Alipay').val();
            var BankName = $('#BankName').val();
            var BankAccount = $('#BankAccount').val();
            var TrueName = $('#TrueName').val();
            var RecName = $('#RecName').val();
            var RecAdd = $('#RecAdd').val();
            var RecMob = $('#RecMob').val();
            var Mark = $('#Mark').val();
            var UserStatus = 4;
            var BindMob = $('#BindMob').val();

            if (UserName == "") { $('#UserName').focus(); layer.tips('手机号码不能为空', '#UserName'); return false; }
            if (NickName == "") { $('#NickName').focus(); layer.tips('昵称或姓名不能为空', '#NickName'); return false; }
            //if (IDCard == "") { $('#IDCard').focus(); layer.tips('身份证号不能为空', '#IDCard'); return false; }
            //if (IDCard != "") {
            //    if (IDCard.length != 18 || IdCardValidate(IDCard) == false) {
            //$('#IDCard').focus(); layer.tips('身份证号码不正确', '#IDCard'); return false;
            //    }
            //}

            if (UserId == '0') {
                if (UserPwd == "") { $('#UserPwd').focus(); layer.tips('密码不能为空', '#UserPwd'); return false; }
                if (UserPwd != UserRePwd) { $('#UserRePwd').focus(); layer.tips('两次密码输入不一致', '#UserRePwd'); return false; }
            }
            else {
                if (UserPwd != '' || UserRePwd != '') {
                    if (UserPwd != UserRePwd) {
                        $('#UserRePwd').focus(); layer.tips('两次密码输入不一致', '#UserRePwd'); return false;
                    }
                }
            }

            if (UserId == '0') {
                if (UserPayPwd == "") { $('#UserPayPwd').focus(); layer.tips('二级密码不能为空', '#UserPayPwd'); return false; }
                if (UserPayPwd != UserRePayPwd) { $('#UserRePayPwd').focus(); layer.tips('两次密码输入不一致', '#UserRePayPwd'); return false; }
            }
            else {
                if (UserPayPwd != '' || UserRePayPwd != '') {
                    if (UserPayPwd != UserRePayPwd) {
                        $('#UserRePayPwd').focus(); layer.tips('两次密码输入不一致', '#UserRePayPwd'); return false;
                    }
                }
            }

            //if (BankName == "") { $('#BankName').focus(); layer.tips('银行开户行不能为空', '#BankName'); return false; }
            //if (BankAccount == "") { $('#BankAccount').focus(); layer.tips('银行账号不能为空', '#BankAccount'); return false; }

            //if (TrueName == "") { $('#TrueName').focus(); layer.tips('真实姓名不能为空', '#TrueName'); return false; }
            //if (RecName == "") { $('#RecName').focus(); layer.tips('收货人不能为空', '#RecName'); return false; }
            //if (RecMob == "") { $('#RecMob').focus(); layer.tips('收货人电话不能为空', '#RecMob'); return false; }
            //if (RecAdd == "") { $('#RecAdd').focus(); layer.tips('收货地址不能为空', '#RecAdd'); return false; }

            var data = {
                UserId: UserId, UserName: UserName, NickName: NickName, IDCard: IDCard, UserStatus: UserStatus, BindMob: BindMob,
                DepositMobile: DepositMobile, UserPwd: UserPwd, UserPayPwd: UserPayPwd,
                WeChat: WeChat, Alipay: Alipay, BankName: BankName, BankAccount: BankAccount,
                TrueName: TrueName, RecName: RecName, RecAdd: RecAdd, RecMob: RecMob, Mark: Mark
            }
            $('#Save').prop('disabled', true);
            $.post('/Account/Reg/', data, function (json) {
                if (json.result == "t") {
                    layer.msg('注册成功！', { icon: 1 }, function () { location.href = '/'; });
                }
                else {
                    layer.alert('注册失败。<br />' + json.msg, { icon: 5 });
                    $('#Save').prop('disabled', false);
                }

            }, "json");
        })
    });
</script>
                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

        <div class="footer">
            <div class="footer-inner">
                <!-- #section:basics/footer -->
                <div class="footer-content">
                    <span class="bigger-120">
                        <span class="blue bolder">天龙健康会员操作平台</span>
                        Mrisy &copy; 2015 &nbsp;&nbsp;<a target="_blank" href="http://www.miibeian.gov.cn/">浙ICP备15041019号-1</a>
                    </span>

                    &nbsp; &nbsp;
                    
                </div>

                <!-- /section:basics/footer -->
            </div>
        </div>

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->
    <!-- page specific plugin scripts -->
    <!-- ace scripts -->
    <script src="/assets/js/ace/elements.scroller.js"></script>
    <script src="/assets/js/ace/elements.colorpicker.js"></script>
    <script src="/assets/js/ace/elements.fileinput.js"></script>
    <script src="/assets/js/ace/elements.typeahead.js"></script>
    <script src="/assets/js/ace/elements.wysiwyg.js"></script>
    <script src="/assets/js/ace/elements.spinner.js"></script>
    <script src="/assets/js/ace/elements.treeview.js"></script>
    <script src="/assets/js/ace/elements.wizard.js"></script>
    <script src="/assets/js/ace/elements.aside.js"></script>
    <script src="/assets/js/ace/ace.js"></script>
    <script src="/assets/js/ace/ace.ajax-content.js"></script>
    <script src="/assets/js/ace/ace.touch-drag.js"></script>
    <script src="/assets/js/ace/ace.sidebar.js"></script>
    <script src="/assets/js/ace/ace.sidebar-scroll-1.js"></script>
    <script src="/assets/js/ace/ace.submenu-hover.js"></script>
    <script src="/assets/js/ace/ace.widget-box.js"></script>
    <script src="/assets/js/ace/ace.settings.js"></script>
    <script src="/assets/js/ace/ace.settings-rtl.js"></script>
    <script src="/assets/js/ace/ace.settings-skin.js"></script>
    <script src="/assets/js/ace/ace.widget-on-reload.js"></script>
    <script src="/assets/js/ace/ace.searchbox-autocomplete.js"></script>

    <script src="/assets/js/layer/layer.js"></script>

    <script>
        var haveFound = false;
        $('ul.nav-list li a').each(function () {
            if (($($(this))[0].href).toLowerCase() == (String(window.location).toLowerCase()).split('?')[0]) {
                $(this).parent().addClass('active').show();
                haveFound = true;
                if ($(this).parent().parent().hasClass('submenu')) {
                    $(this).parent().parent().parent().addClass('active');
                    $(this).parent().parent().parent().addClass('open');
                }
                else {
                    $(this).parent().addClass('open');
                }
            }
        });
        if (haveFound == false) {
            $('ul.nav-list li a').each(function () {
                if (($($(this))[0].href).toLowerCase() == (String(window.location).toLowerCase()).substr(0, (String(window.location)).lastIndexOf('/'))) {
                    $(this).parent().addClass('active').show();
                    if ($(this).parent().parent().hasClass('submenu')) {
                        $(this).parent().parent().parent().addClass('active');
                        $(this).parent().parent().parent().addClass('open');
                    }
                    else {
                        $(this).parent().addClass('open');
                    }
                }
            });
        }


        $('#chpwd').click(function () {
            layer.open({
                type: 2,
                title: '修改账户密码',
                shadeClose: false,
                shade: 0.8,
                area: ['400px', '500px'],
                content: '/Account/ChangePwd' //iframe的url
            });

        })
    </script>
</body>
</html>
