<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>我的专属链接</title>
    <style>
        body {
            TEXT-ALIGN: center;
        }

        #center {
            MARGIN-RIGHT: auto;
            MARGIN-LEFT: auto;
        }

        img {
            display: block;
            border: 0;
            MARGIN-RIGHT: auto;
            MARGIN-LEFT: auto;
        }
    </style>
</head>
<body>
    <div class="center">
    	<!--<img src="QRCODE?data=139.196.235.142">!-->
        <!--img src="QRCODE?data=http://www.tljk518.com/static/MemRecome?mob=15906753588"-->
        <img src="https://chart.googleapis.com/chart?cht=qr&chs=300x300&choe=UTF-8&chld=L|4&chl=http://139.196.235.142/Account/Reg/?RefUsername={{username}}"/>
        <p>请用微信扫一扫功能扫描该二维码</p>
    </div>
</body>
</html>
