<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>我的专属链接</title>
    <style>
        body {
            TEXT-ALIGN: center;
        }

        #center {
            MARGIN-RIGHT: auto;
            MARGIN-LEFT: auto;
        }

        img {
            display: block;
            border: 0;
            MARGIN-RIGHT: auto;
            MARGIN-LEFT: auto;
        }
    </style>
</head>
<body>
    <script type="text/javascript" src="/assets/js/jquery.js"></script> 
    <script type="text/javascript" src="/assets/js/jquery.qrcode.min.js"></script> 
    <div class="center">
        <br/>
        <div id="code"></div>
        <p>请用微信扫一扫功能扫描该二维码</p>
    </div>
    <script type="text/javascript">
    function toUtf8(str) {
        var out, i, len, c;
        out = "";
        len = str.length;
        for(i = 0; i < len; i++) {
            c = str.charCodeAt(i);
            if ((c >= 0x0001) && (c <= 0x007F)) {
                out += str.charAt(i);
            } else if (c > 0x07FF) {
                out += String.fromCharCode(0xE0 | ((c >> 12) & 0x0F));
                out += String.fromCharCode(0x80 | ((c >>  6) & 0x3F));
                out += String.fromCharCode(0x80 | ((c >>  0) & 0x3F));
            } else {
                out += String.fromCharCode(0xC0 | ((c >>  6) & 0x1F));
                out += String.fromCharCode(0x80 | ((c >>  0) & 0x3F));
            }
        }
        return out;
    }

    var urlstr = toUtf8("{{qrurl}}");
    $('#code').qrcode({
        width: 300,
        height:300,
        text: urlstr
    });
    </script>
</body>
</html>
