<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>ReConsume</title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/css/font-awesome.css" />

    <!-- page specific plugin styles -->
    <!-- text fonts -->
    <link rel="stylesheet" href="/assets/css/ace-fonts.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="../assets/css/ace-part2.css" class="ace-main-stylesheet" />
    <![endif]-->
    <!--[if lte IE 9]>
      <link rel="stylesheet" href="../assets/css/ace-ie.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="/assets/js/ace-extra.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="../assets/js/html5shiv.js"></script>
    <script src="../assets/js/respond.js"></script>
    <![endif]-->
    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='/assets/js/jquery.js'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='../assets/js/jquery1x.js'>"+"<"+"/script>");
    </script>
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='/assets/js/jquery.mobile.custom.js'>" + "<" + "/script>");
    </script>
    <script src="/assets/js/bootstrap.js"></script>
    <script src="/assets/js/Common.js"></script>

	<style type="text/css" media="screen">
	     *{margin:0;padding:0;}
	     .inputFix{	         
             position: relative;
	     }
	     .prodctVal{
	         width: 50px;
             padding-left: 10px;
             line-height: 24px;
             margin:5px;
	     }
	     .arrow{
             width: 0;
             height: 0;
             border:5px solid white;
          }
          .up-arrow{
             border-bottom: 5px solid #636363;
             position: absolute;
             top: 8px;
             left: 39px;
          }
          .down-arrow{
             border-top: 5px solid #636363;
             position: absolute;
             top: 27px;
             left:39px;
          }
	</style>

</head>

<body class="no-skin">

    <!-- #section:basics/navbar.layout -->
    <div id="navbar" class="navbar navbar-default">
        <script type="text/javascript">
            try { ace.settings.check('navbar', 'fixed') } catch (e) { }
        </script>

        <div class="navbar-container btn btn-danger" id="navbar-container">
                        恭喜您已经获得本轮所有佣金，本次加单八折！
        </div><!-- /.navbar-container -->
    </div>
    <!-- /section:basics/navbar.layout -->
    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try { ace.settings.check('main-container', 'fixed') } catch (e) { }
        </script>



        <!-- /section:basics/sidebar -->
        <div class="main-content">
            <div class="main-content-inner">
                <!-- #section:basics/content.breadcrumbs -->
                <div class="page-content">

                    <!-- #section:settings.box -->



                    <div class="row noMarginLR">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            
<!-- /section:settings.box -->



<div class="row noMarginLR iUcAddNewMember">

        <form class="form-horizontal" role="form">
            <input id="UserId" name="UserId" type="hidden" value="0" />

                <div class="form-group">
                    <label class="col-sm-1 control-label no-padding-right"> 选择产品 </label>

                    <div class="col-sm-11">
                        
                        

                        <div class="valContain">
      
        <p class="haveChosen">以下产品选满1500元</p>
                 
          <div class="inputFix">
	         <input type="text" class="prodctVal" readonly value="0" max="3" min="0"/>
                
	         <p class="up-arrow arrow"></p>
	         <p class="down-arrow arrow"></p>
	          <label class="prodctdesc">亚麻全营养代餐棒500元/套</label>
          </div>
                  
          <div  class="inputFix">
               
	         <input type="text" class="prodctVal" readonly value="0" max="3" min="0"/>
	         <p class="up-arrow arrow"></p>
	         <p class="down-arrow arrow"></p>
	         <label class="prodctdesc">亚麻全营养代餐棒500元/套</label>
          </div>
              
         <div class="inputFix">
             
    	     <input type="text" class="prodctVal" readonly value="0" max="3" min="0"/>
    	     <p class="up-arrow arrow"></p>
    	     <p class="down-arrow arrow"></p>
    	     <label class="prodctdesc">亚麻营养膳食粉500元/套</label>
         </div>
              
         <div class="inputFix">
             
    	     <input type="text" class="prodctVal" readonly value="0" max="3" min="0"/>
    	     <p class="up-arrow arrow"></p>
    	     <p class="down-arrow arrow"></p>
    	     <label class="prodctdesc">亚麻籽有机冷榨油大礼盒500元/提</label>
         </div>
           </div>


                        <p class="haveChosen">您选择的是：</p>
                            <label id="info"></label>
                        <input id="Mark" type="hidden" />
                    </div>
                </div>
            
        
        <!--div class="clearfix form-actions"-->
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="button" id="Save">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        保存
                    </button>
                </div>
            </div>
        <!--/div-->

        </form>

</div>
<style>
    .js-max-input {
        border: solid 1px #ffd2b2;
        background: #fffae5;
        padding: 0 10px 0 10px;
        font-size: 20px;
        color: #ff4400;
    }
</style>
<script>
    $(document).ready(function () {

       
        $('#Save').click(function () {
            var Mark = $('#Mark').val();
            if (Mark == "")
            {
                layer.alert('请选择产品', { icon: 6 });
                return;
            }
            var sum=getSum();
            if (sum<3){
            	layer.alert('产品价格未满1500元', { icon: 6 });
                return false;
            }
            var data = { Mark: Mark }
            $('#Save').prop('disabled', true);
            $.post('ReConsumeSave/', data, function (json) {
                if (json.result == "t") {
                    layer.msg('加单成功！', { icon: 1 }, function(){});
                    parent.location.href=parent.location.href;
                    parent.layer.closeAll();
                }
                else {
                    layer.alert('加单失败。<br />' + json.msg, { icon: 5 });
                    $('#Save').prop('disabled', false);
                }
            }, "json");
        })
    });
    
    
    

    function getSum(){
        var len = $('.prodctVal').length;
        var sum = 0;
        for(var i=0;i<len;i++){
            var val = parseInt($('.prodctVal').eq(i).val());
            sum = sum+val;
        }

        return sum;
    }

    $('.up-arrow').on("click",function(event){
        var $obj = $(this).siblings("input");
        var value = $obj.val();
        var sum = getSum();
        
        if((sum < 3)&&(value < 3)) {                 
            $obj.val(++value);
            var len=$('.prodctVal').length;
            var text="";
            for (var i=0;i<len;i++){
            	if(parseInt($('.prodctVal').eq(i).val())!=0)
                {
            	        text=text+$('.prodctdesc').eq(i).html()+"x"+$('.prodctVal').eq(i).val()+" ";
                }
            }
            $('#info').text(text);
            $('#Mark').val(text);
        }        
        
    });
    $('.down-arrow').on("click",function(event){
        var $obj = $(this).siblings("input");
        var value = $obj.val();
        var sum = getSum();
        if((sum >= 0)&&(value > 0)) {
            
        	  $obj.val(--value);
              var len=$('.prodctVal').length;
              var text="";
              for (var i=0;i<len;i++){
              	if(parseInt($('.prodctVal').eq(i).val())!=0)
                  {
              	        text=text+$('.prodctdesc').eq(i).html()+"x"+$('.prodctVal').eq(i).val()+" ";
                  }
              }
              $('#info').text(text);
              $('#Mark').val(text);
        } 
        
    });
</script>
                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->
    <!-- page specific plugin scripts -->
    <!-- ace scripts -->
    <script src="/assets/js/ace/elements.scroller.js"></script>
    <script src="/assets/js/ace/elements.colorpicker.js"></script>
    <script src="/assets/js/ace/elements.fileinput.js"></script>
    <script src="/assets/js/ace/elements.typeahead.js"></script>
    <script src="/assets/js/ace/elements.wysiwyg.js"></script>
    <script src="/assets/js/ace/elements.spinner.js"></script>
    <script src="/assets/js/ace/elements.treeview.js"></script>
    <script src="/assets/js/ace/elements.wizard.js"></script>
    <script src="/assets/js/ace/elements.aside.js"></script>
    <script src="/assets/js/ace/ace.js"></script>
    <script src="/assets/js/ace/ace.ajax-content.js"></script>
    <script src="/assets/js/ace/ace.touch-drag.js"></script>
    <script src="/assets/js/ace/ace.sidebar.js"></script>
    <script src="/assets/js/ace/ace.sidebar-scroll-1.js"></script>
    <script src="/assets/js/ace/ace.submenu-hover.js"></script>
    <script src="/assets/js/ace/ace.widget-box.js"></script>
    <script src="/assets/js/ace/ace.settings.js"></script>
    <script src="/assets/js/ace/ace.settings-rtl.js"></script>
    <script src="/assets/js/ace/ace.settings-skin.js"></script>
    <script src="/assets/js/ace/ace.widget-on-reload.js"></script>
    <script src="/assets/js/ace/ace.searchbox-autocomplete.js"></script>

    <script src="/assets/js/layer/layer.js"></script>

    <script>
        var haveFound = false;
        $('ul.nav-list li a').each(function () {
            if (($($(this))[0].href).toLowerCase() == (String(window.location).toLowerCase()).split('?')[0]) {
                $(this).parent().addClass('active').show();
                haveFound = true;
                if ($(this).parent().parent().hasClass('submenu')) {
                    $(this).parent().parent().parent().addClass('active');
                    $(this).parent().parent().parent().addClass('open');
                }
                else {
                    $(this).parent().addClass('open');
                }
            }
        });
        if (haveFound == false) {
            $('ul.nav-list li a').each(function () {
                if (($($(this))[0].href).toLowerCase() == (String(window.location).toLowerCase()).substr(0, (String(window.location)).lastIndexOf('/'))) {
                    $(this).parent().addClass('active').show();
                    if ($(this).parent().parent().hasClass('submenu')) {
                        $(this).parent().parent().parent().addClass('active');
                        $(this).parent().parent().parent().addClass('open');
                    }
                    else {
                        $(this).parent().addClass('open');
                    }
                }
            });
        }


        $('#chpwd').click(function () {
            layer.open({
                type: 2,
                title: '修改账户密码',
                shadeClose: false,
                shade: 0.8,
                area: ['400px', '500px'],
                content: '/Account/ChangePwd' //iframe的url
            });

        })
    </script>
</body>
</html>