        <div id="sidebar" class="sidebar                  responsive">
            <script type="text/javascript">
                try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
            </script>

            <!-- /.sidebar-shortcuts -->

            <ul class="nav nav-list">

                    <li class="">
                            <a href="/Services/DashBoard">
                                <i class="menu-icon fa  fa-tachometer"></i>
                                <span class="menu-text">
                                    管理首页

                                </span>
                            </a>
                            <b class="arrow"></b> 
                    </li>
                    <li class="">
                            <a href="/Services/NoticeList">
                                <i class="menu-icon fa  fa-info-circle"></i>
                                <span class="menu-text">
                                    查看公告

                                </span>
                            </a>
                            <b class="arrow"></b> 
                    </li>
                    <li class="">
                            <a href="/Services/MsgList">
                                <i class="menu-icon fa  fa-info-circle"></i>
                                <span class="menu-text">
                                    消息中心
                                </span>
                                    <span class="badge badge-danger hide">
                                        10
                                    </span>
                            </a>
                            <b class="arrow"></b> 
                    </li>
                    <li class="">
                            <a href="javascript:;" class="dropdown-toggle">
                                <i class="menu-icon fa  fa-desktop"></i>
                                <span class="menu-text">
                                    会员中心
                                </span>
                                <b class="arrow fa fa-angle-down"></b>
                            </a>
                            <b class="arrow"></b>
                            <ul class="submenu">
                                    <li class="">
                                        <a href="/Services/MemberEdit">
                                            <i class="menu-icon fa  fa-edit"></i>
                                            新增会员
                                        </a>
                                        <b class="arrow"></b>
                                    </li>
                                    <li class="">
                                        <a href="/Services/MemberList">
                                            <i class="menu-icon fa  fa-list"></i>
                                            会员列表
                                        </a>
                                        <b class="arrow"></b>
                                    </li>
                                    <li class="">
                                        <a href="/Services/MemberOrder">
                                            <i class="menu-icon fa  fa-list"></i>
                                            会员订单
                                        </a>
                                        <b class="arrow"></b>
                                    </li>
                                    <li class="">
                                        <a href="/Services/UserMap">
                                            <i class="menu-icon fa  fa-list"></i>
                                            会员网格
                                        </a>
                                        <b class="arrow"></b>
                                    </li>
                            </ul>
                    </li>
                    <li class="">
                            <a href="javascript:;" class="dropdown-toggle">
                                <i class="menu-icon fa   fa-history"></i>
                                <span class="menu-text">
                                    费用中心
                                </span>
                                                                    <b class="arrow fa fa-angle-down"></b>
                            </a>
                            <b class="arrow"></b>
                            <ul class="submenu">
                                    <li class="">
                                        <a href="/Services/ComBank">
                                            <i class="menu-icon fa  fa-list"></i>
                                            公司收款账户
                                        </a>
                                        <b class="arrow"></b>
                                    </li>
                                    <li class="">
                                        <a href="/Services/Promotion?GiftStatus=0">
                                            <i class="menu-icon fa  fa-list"></i>
                                            推广费审核
                                        </a>
                                        <b class="arrow"></b>
                                    </li>
                                    <li class="">
                                        <a href="/Services/Promotion?GiftStatus=1">
                                            <i class="menu-icon fa  fa-list"></i>
                                            推广费发放
                                        </a>
                                        <b class="arrow"></b>
                                    </li>
                                    <li class="">
                                        <a href="/Services/Promotion">
                                            <i class="menu-icon fa  fa-list"></i>
                                            推广费发放列表
                                        </a>
                                        <b class="arrow"></b>
                                    </li>
                            </ul>
                    </li>
                    <li class="">
                            <a href="javascript:;" class="dropdown-toggle">
                                <i class="menu-icon fa   fa-comments"></i>
                                <span class="menu-text">
                                    意见建议
                                </span>
                                    <span class="badge badge-danger hide">
                                        1
                                    </span>
                                    <b class="arrow fa fa-angle-down"></b>
                            </a>
                            <b class="arrow"></b>
                            <ul class="submenu">
                                    <li class="">
                                        <a href="/Services/AdviceList">
                                            <i class="menu-icon fa  fa-list"></i>
                                            意见列表
                                        </a>
                                        <b class="arrow"></b>
                                    </li>
                            </ul>
                    </li>
                    <li class="">
                            <a href="javascript:;" class="dropdown-toggle">
                                <i class="menu-icon fa   fa-comments"></i>
                                <span class="menu-text">
                                    副中心管理
                                </span>
                                                                    <b class="arrow fa fa-angle-down"></b>
                            </a>
                            <b class="arrow"></b>
                            <ul class="submenu">
                                    <li class="">
                                        <a href="/Services/SubService">
                                            <i class="menu-icon fa  fa-list"></i>
                                            副中心设置
                                        </a>
                                        <b class="arrow"></b>
                                    </li>
                            </ul>
                    </li>
            </ul>
            <!-- #section:basics/sidebar.layout.minimize -->
            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>

            <!-- /section:basics/sidebar.layout.minimize -->
            <script type="text/javascript">
                try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
            </script>
        </div>