<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>副中心设置 - 天龙健康会员操作平台</title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/css/font-awesome.css" />

    <!-- page specific plugin styles -->
    <!-- text fonts -->
    <link rel="stylesheet" href="/assets/css/ace-fonts.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="../assets/css/ace-part2.css" class="ace-main-stylesheet" />
    <![endif]-->
    <!--[if lte IE 9]>
      <link rel="stylesheet" href="../assets/css/ace-ie.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="/assets/js/ace-extra.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="../assets/js/html5shiv.js"></script>
    <script src="../assets/js/respond.js"></script>
    <![endif]-->
    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='/assets/js/jquery.js'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='../assets/js/jquery1x.js'>"+"<"+"/script>");
    </script>
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='/assets/js/jquery.mobile.custom.js'>" + "<" + "/script>");
    </script>
    <script src="/assets/js/bootstrap.js"></script>
    <script src="/assets/js/Common.js"></script>

</head>

<body class="no-skin">
    <!-- #section:basics/navbar.layout -->
    {% include 'Services/CommonNavBar.html' %}

    <!-- /section:basics/navbar.layout -->
<div class="main-container" id="main-container">
        <script type="text/javascript">
            try { ace.settings.check('main-container', 'fixed') } catch (e) { }
        </script>

        <!-- #section:basics/sidebar -->
        {% include 'Services/CommonList.html' %}

        <!-- /section:basics/sidebar -->
        <div class="main-content">
            <div class="main-content-inner">
                <!-- #section:basics/content.breadcrumbs -->
                <div class="page-content">

                    <!-- #section:settings.box -->
{% include 'Services/CommonSetting.html' %}
<!-- /.ace-settings-container -->
<!-- /section:settings.box -->

                    <div class="row noMarginLR">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            
<!-- /section:settings.box -->
<div class="page-header">
    <h1>
        副中心管理
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            副中心设置
        </small>
    </h1>
</div><!-- /.page-header -->


<div class="row noMarginLR">
    <div class="col-xs-12">
        <form class="form-horizontal" role="form">
            <input id="UserId" name="UserId" type="hidden" value="395" />

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 副中心名称 </label>

                <div class="col-sm-9">
                    <input type="text" id="ServiceName" name="ServiceName" placeholder="" class="col-xs-10 col-sm-5" value="诸暨副服务中心" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 负责人 </label>

                <div class="col-sm-9">
                    <input type="text" id="ServiceAdminName" name="ServiceAdminName" placeholder="" class="col-xs-10 col-sm-5" value="老赵" />
                </div>
            </div>

            <!-- /section:elements.form -->
            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 登陆名 </label>
                <div class="col-sm-9">
                    <input type="text" id="UserName" name="UserName" placeholder="" class="col-xs-10 col-sm-5" value="zj007" />
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 登陆密码 </label>

                <div class="col-sm-9">
                    <!-- #section:elements.form.input-icon -->
                    <span>
                        <input type="password" id="UserPwd">
                    </span>

                    <span>
                        <input type="password" id="UserRePwd">
                    </span>
                        <span class="middle blockinMobile">如果您不修改密码，请留空</span>

                    <!-- /section:elements.form.input-icon -->
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 是否启用 </label>

                <div class="col-sm-9">
                    <select id="UserStatus">
                        <option value="1">启用</option>
                        <option value="3" >禁用</option>

                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 备注 </label>

                <div class="col-sm-9">
                    <textarea id="ServiceMark" class="col-xs-10 col-sm-5 " style=" height: 200px;"></textarea>


                </div>
            </div>


            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="button" id="Save">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        保存
                    </button>

                </div>
            </div>


        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#Save').click(function () {
            var UserId = $('#UserId').val();
            var ServiceName = $('#ServiceName').val();
            var ServiceAdminName = $('#ServiceAdminName').val();
            var UserName = $('#UserName').val();
            var UserPwd = $('#UserPwd').val();
            var UserRePwd = $('#UserRePwd').val();
            var UserStatus = $('#UserStatus').val();
            var ServiceMark = $('#ServiceMark').val();

            if (ServiceName == "") { $('#ServiceName').focus(); layer.tips('服务中心名称不能为空', '#ServiceName'); return false; }
            if (ServiceAdminName == "") { $('#ServiceAdminName').focus(); layer.tips('负责人不能为空', '#ServiceAdminName'); return false; }

           
            if (UserName == "") { $('#UserName').focus(); layer.tips('用户名不能为空', '#UserName'); return false; }
            if (UserId == '0') {
                if (UserPwd == "") { $('#UserPwd').focus(); layer.tips('密码不能为空', '#UserPwd'); return false; }
                if (UserPwd != UserRePwd) { $('#UserRePwd').focus(); layer.tips('两次密码输入不一致', '#UserRePwd'); return false; }
            }
            else {
                if (UserPwd != '' || UserRePwd != '') {
                    if (UserPwd != UserRePwd) {
                        $('#UserRePwd').focus(); layer.tips('两次密码输入不一致', '#UserRePwd'); return false;
                    }
                }
            }

            var data = { UserId: UserId, ServiceName: ServiceName,  ServiceAdminName: ServiceAdminName, UserName: UserName, UserPwd: UserPwd, UserStatus: UserStatus, ServiceMark: ServiceMark }
            //alert(JSON.stringify(data));
            $.post('SubServiceSave', data, function (json) {
                if (json.result == "t") {
                    layer.msg('保存成功！', { icon: 1 });
                }
                else {
                    layer.alert('保存失败。<br />' + json.msg, { icon: 5 });
                }

            });
        })




    });
</script>


                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

        {% include 'Services/CommonFooter.html' %}
    </div><!-- /.main-container -->
    <!-- page specific plugin scripts -->
    <!-- ace scripts -->
    {% include 'Services/CommonScripts.html' %}
</body>
</html>
